section{
  width: 90%;
  margin: auto;
}
form{
  padding: 1em;
  display: grid;
  gap: 1.25em;
}
form label{
  text-transform: uppercase;
}
button{
  font-weight: bold;
}
.bonus-info{
  margin-top: 2em;
  padding: 1.2em;
  display: grid;
  grid-gap: 1em;
}
.bonus-info h3{
  font-size: 4rem;
  color: #222;
}
.bonus-info div{
  display: flex;
  align-items: center;
  gap: 2em;
}
.bonus-info div p{
  font-size: 1.65rem;
}

@media (min-width: 768px){
  section{
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: start;
  }
  form{
    width: 100%;
  }
  .bonus-info{
    margin: 0;
    grid-gap: 0em;
  }
}
