header{
  background-color: white;
  min-height: 67.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header section{
  display: grid;
  margin-bottom: 2em;
}
h1{
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  padding: 0 .25em;
}
.intro{
  padding: .7em 1em;
  margin-bottom: .5em;
  font-size: 1.55rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}
.cta{ justify-self: center; }
.cta a{
  width: max-content;
  padding: .7em 1.5em;
  display: inline-block;
  border-radius: 2px;
  background-color: #3DB2FF;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.cta a:last-child{ margin-left: .5em; }
.cta a:first-child{ margin-right: .5em; }
/* ========================================================== */
.features{
  background-color: #e5eff5;
  background-color: #f2faff;;
  padding: 5em 0;
}
.services{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.services div{
  width: 90%;
  margin: auto;
  padding: 1.25em 1.1em;
  box-shadow: 2px 2px 40px 10px #d5e3eb;
  border-radius: 5px;
  background-color: #fff;
}
.summary p{
  font-size: 1.55rem;
  padding: .55em .75em;
  line-height: 1.5;
  color: #444;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.services h2{
  font-size: 1.7rem;
  color: #666;
  text-align: center;
  margin-bottom: .7em;
}
.services p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* ================================================ */
.testimonials{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 1em;
  /* background-color: hsl(244, 38%, 16%); */
  background-color: hsl(245, 17%, 29%);
}
.testimonials div{
  padding: .5em .75em;
  font-size: 1.45rem;
}
figcaption h4{
  margin: .5em 0;
  color: #333;
}
.testimonials p{
  line-height: 1.5;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
blockquote{
  text-align: right;
  color: #fbfbfbbf;;
}
[data-component="slideshow"] .slide {
  display: none;
}
[data-component="slideshow"] .slide.active {
  display: block;
}

/* =============== Media Queries =================== */
@media (min-width: 400px){
  .summary p{ padding: .55em 1.25em; }
  .services{ padding: 1.25em 1.1em;}
}
@media (min-width: 576px){
  blockquote{ padding-top: .75em; }
}
@media (min-width: 768px){
  header{
    min-height: 50vh;
    flex-direction: row;
  }
  h1{
    font-size: 3.25rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    padding: 0;
  }
  .intro{
    padding: .7em 0;
  }
  .cta{
    font-size: 1.55rem;
    font-weight: bold;
    justify-self: left;
  }
  .cta a:hover{
    background-color: #3ea7ee;
  }
  .summary{
    width: 65%;
    margin: auto;
  }
  .summary p{
    padding: .55em 1.25em;
    font-size: 1.65rem;
  }
  .services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services div{ width: 100%; }
  .slide{
    width: 75%;
    margin: auto;
  }
}
@media (min-width: 992px){
  header{
    min-height: 65vh;
  }
  .summary{
    width: 50%;
  }
  .summary p{
    padding: 1.55em 1.25em;
  }
  .services{
    grid-template-columns: repeat(4, 1fr);
  }
  .slide{
    width: 45%;
  }
  .testimonials{
    padding-top: 5em;
  }
  .testimonials p{
    font-size: 1.65rem;
    line-height: 1.55;
  }
}
@media (min-width: 1200px){

}
