*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
}
/* NAVIGATION */
.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.logo a{
  font-size: 1.9rem;
  color: white;
}
nav{
  padding: 1.5em 1em;
  display: flex;
  position: relative;
  background-color: #3DB2FF;
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  font-size: 1.6rem;
  transition: height .2s ease-in-out;
  z-index: 5;
  background-color: #3DB2FF;
}
.showNav{ height: 8em; }
nav a{
  text-decoration: none;
  font-size: 1.75rem;
  color: white;
}
.menuToggle{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 3em;
}
.menuToggle div{ border: 2px solid #fff; }
img{
  width: 100%;
  height: auto;
}



/* MEDIA QUERIES */
@media (min-width: 400px){
  nav{ padding: 1.8em 1.25em; }

  main{
    width: 92.5%;
    margin: auto;
  }

  .intro p{ font-size: 1.67rem; }
  #about .summary p{ font-size: 1.65rem; }
  .features{ margin-top: 2em; }
  .features div{ max-width: max-content; }

  .features div p{
    font-size: 1.55rem;
    max-width: 50ch;
    margin: auto;
  }

  .projects{ text-align: center; }
  .projects picture{ width: 80%; }
  figcaption p{
    max-width: 45ch;
    margin: auto;
  }
  picture > img{
    max-width: 60%;
    max-height: 15em;
  }
}

@media (min-width: 576px){
  .intro h1{ font-size: 3.5rem; }
  main{ width: 90%; }
  #home{ display: flex; }
  .intro{ justify-content: center; }
  .intro h1{ text-align: left; }
  .intro p{
    padding: .5em 0;
    text-align: left;
  }
  .cta{ align-self: flex-start; }

  #about .summary p{
    max-width: 60ch;
    margin: auto;
  }

  .features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    grid-gap: 2em 0;
  }

  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }
  .projects picture{ width: 100%; }

  form{ max-width: 75%; }
}

@media (min-width: 768px){
  nav, header, main, footer{ padding: 1.75em 7.5vw; }
  main > section{
    min-height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .intro h1{ font-size: 4rem; }
  nav a:hover{ color: #0000ff; color: rgb(241, 241, 241);}
  .menuToggle{ display: none; }
  .cta:hover{ background-color: #30bbbb;  }

  nav ul{
    flex-direction: row;
    position: static;
    height: max-content;
    border: none;
    margin-left: auto;
    background-color: inherit;
    font-size: 1.8rem;
  }

  .contact-wrap{
    flex-direction: row-reverse;
    align-items: center;
    gap: 0;
  }
  form{ width: 100%; }
  .form-svg{
    display: block;
    width: 75%;
  }

  .form-svg img{
    width: 100%;
    height: auto;
    transform: rotate(-90deg);
  }
}

@media (min-width: 992px){
  /* nav{ padding: 1.75em 10vw; } */

  .logo{
    margin-left: 5%;
    font-size: 2.25rem;
  }
  nav ul{ margin-right: 2.5%; }
  #home{
    width: 90%;
    margin: auto;
  }
  .intro h1{ font-size: 5rem; }
  .intro p{
    max-width: 70ch;
    font-size: 1.8rem;
  }

  .contact-wrap{ gap: 1em; }
  form{ width: 80%; }
  .form-svg{ opacity: 0.5;}
  .form-svg img{ transform: rotate(0); }
}
