*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  min-height: 100vh;
}
/* NAVIGATION */
.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.logo a{
  font-size: 1.9rem;
  color: white;
}
nav{
  padding: 1.5em 1em;
  display: flex;
  position: relative;
  background-color: #3DB2FF;
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  font-size: 1.6rem;
  transition: height .2s ease-in-out;
  z-index: 5;
  background-color: #3DB2FF;
}
.showNav{ height: 8em; }
nav a{
  text-decoration: none;
  font-size: 1.75rem;
  color: white;
}
.menuToggle{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 3em;
}
.menuToggle div{ border: 2px solid #fff; }
img{
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES */
@media (min-width: 400px){
  nav{ padding: 1.8em 1.25em; }
}
@media (min-width: 576px){
  nav, main, footer{ padding: 1.75em 7.5vw; }
}
@media (min-width: 768px){
  nav, main, footer{ padding: 1.75em 7.5vw; }
  nav a:hover{ color: rgb(241, 241, 241);}
  .menuToggle{ display: none; }

  nav ul{
    flex-direction: row;
    position: static;
    height: max-content;
    border: none;
    margin-left: auto;
    background-color: inherit;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px){
  nav{ padding: 1.75em 10vw; }
  .logo{ font-size: 2.5rem; }
}
